$fonts-path: '../fonts/';

@font-face {
  font-family: 'Avenir-BlackOblique';
  src: url('#{$fonts-path}Avenir-BlackOblique.woff2') format('woff2'),
    url('#{$fonts-path}Avenir-BlackOblique.woff') format('woff');
}

@font-face {
  font-family: 'Avenir-BookOblique';
  src: url('#{$fonts-path}Avenir-BookOblique.woff2') format('woff2'),
    url('#{$fonts-path}Avenir-BookOblique.woff') format('woff');
}
